.row:before, 
.row:after {
    content:"";
    display: table ;
     clear:both;
}

.row {
	width: 100%;
	padding: 0;
	margin: 0 0 10px 0;
}

.row.end {
	margin-bottom: 0;
}

[class*='col-'] {
    float: left;
    min-height: 1px; 
    margin-right: 1%;
}

[class*='col-']:last-child {   
    margin-right: 0 !important;
}

.col-1{
    width: 7.416666667%;     
}
.col-2{
    width: 15.833333333%; 
}
.col-3{
    width: 24.25%; 
}
.col-4{
    width: 32.666666667%;
}
.col-5{
    width: 41.083333334%;
}
.col-6{
    width: 49.5%;
}
.col-7{
    width: 57.916666666%; 
}
.col-8{
    width: 66.333333333%; 
}
.col-9{
    width: 74.75%; 
}
.col-10{
    width: 83.16666667%;
}
.col-11{
    width: 91.583333333%;
}
.col-12{
    width: 100%;
}
