/*********************************************************
*
*	Responsiva [Responsive CSS Framework]
*	Created by Alexander Volkov
*	Github URL: https://github.com/vol4ikman/responsiva
*
**********************************************************/

/*************************
	Reset CSS
**************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*************************
	Grid System
*************************/	
.main_container {max-width: 1000px; margin:0 auto;}

.row:before, 
.row:after {
    content:"";
    display: table ;
     clear:both;
}

.row {
	max-width: 100%;
	padding: 0;
	margin: 0 0 10px 0;
}

.row.end {
	margin-bottom: 0;
}

[class*='col-'] {
    float: left;
    min-height: 1px; 
    margin-right: 1%;
}
.stuck [class*='col-'] {
    margin-right: 0%;
}
[class*='col-']:last-child {   
    margin-right: 0 !important;
}

.col-1{width: 7.416666667%;}
.col-2{width: 15.833333333%;}
.col-3{width: 24.25%;}
.col-4{width: 32.666666667%;}
.col-5{width: 41.083333334%;}
.col-6{width: 49.5%;}
.col-7{width: 57.916666666%;}
.col-8{width: 66.333333333%;}
.col-9{width: 74.75%;}
.col-10{width: 83.16666667%;}
.col-11{width: 91.583333333%;}
.col-12{width: 100%;}

.stuck .col-1{width: 7.416666667%;}
.stuck .col-2{width: 15.833333333%;}
.stuck .col-3{width: 24.25%;}
.stuck .col-4{width: 32.666666667%;}
.stuck .col-5{width: 41.083333334%;}
.stuck .col-6{width: 50%;}
.stuck .col-7{width: 57.916666666%;}
.stuck .col-8{width: 66.333333333%;}
.stuck .col-9{width: 74.75%;}
.stuck .col-10{width: 83.16666667%;}
.stuck .col-11{width: 91.583333333%;}
.stuck .col-12{width: 100%;}

@media only screen and (max-width: 767px) {

	[class*='col-'] {
	    float: none;
	    min-height: 1px; 
	    margin-right: 0% !important;
	    margin-bottom: 10px;
	    width: 100%;
	}
	[class*='col-']:last-child {
		margin-bottom: 0;
	}

}

@media only screen and (max-width: 480px) {
	.main_container {padding: 0 2%;}
}

@media only screen and (max-width: 320px) {

}

/*************************
	Helper classes
**************************/
.error {color: #FF0000;}		
.warning {color: #DBDB4D;}
.success {color: #009933;}

.bold {font-weight: bold;}
.italic {font-style: italic;}
.underline {text-decoration: underline;}

.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}

.h1 {font-weight: bold;font-size: 36px;}
.h2 {font-weight: bold;font-size: 32px;}
.h3 {font-weight: bold;font-size: 28px;}
.h4 {font-weight: bold;font-size: 24px;}
.h5 {font-weight: bold;font-size: 20px;}
.h6 {font-weight: bold;font-size: 16px;}
